@charset "utf-8";
* {
	margin:0;
	padding:0;
	/* overflow: hidden; */
}
body {
	background: #fff;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}
a {
	color: #003d4c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #367889;
	text-decoration:none;
}